.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px
}

.datas {
    border: 1px solid white;
    margin: 0;
    padding: 4px;
    max-width: 5em;
    min-width: 5em
}